<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.owhat.leancloud.statistics" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>statistics</name><js-module name="statistics" src="www/statistics.js"><clobbers target="cordova.plugins.statistics" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="statistics"><param name="ios-package" value="statistics" /></feature></config-file><source-file src="src/ios/CDVstatistics.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="statistics"><param name="android-package" value="cn.owhat.leancloud.statistics.statistics" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/statistics.java" target-dir="src/cn/owhat/leancloud/statistics/statistics" /></platform></plugin>